.footer {
  width: 100%;
  background-color: $color-black-pearl;
  color: $color-default-white;

  @include vp-767 {
    .container {
      padding: 0;
    }
  }
}

.footer__wrapper {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1.32fr 1fr;
  column-gap: 18px;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
    padding: 50px 19px 50px 25px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 35px 0;
  }
}

.footer__online-contacts {
  display: flex;
  flex-direction: column;
  place-self: start start;

  @include vp-1023 {
    grid-column: span 2;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  @include vp-767 {
    grid-column: auto;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 14px;
  }
}

.footer__logo {
  display: block;
  width: 215px;
  margin-bottom: 30px;

  @include vp-1023 {
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-bottom: 10px;

    transform: translateX(-3px);
  }
}

.footer__accordeon-button {
  display: none;

  @include vp-767 {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 58px;
    height: 58px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 15px;
      height: 1px;
      background-color: $color-silver;
    }

    &::before {
      transform: translate(-50%, -50%);
    }

    &::after {
      left: calc(50% - 15px / 2);
      transform: rotate(90deg);
    }

    &.is-open {
      &::after {
        display: none;
      }
    }

    @include hover-focus {
      background-color: rgba($color-deep-sky-blue, 0.3);
    }

    &:active {
      opacity: 0.5;
    }

    @include active {
      opacity: 0.5;
    }
  }
}

.footer__title-wrapper {
  margin-bottom: 22px;

  @include vp-767 {
    width: 100%;
    margin-bottom: 0;
    padding-right: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__title {
  margin: 0;
  padding: 0;
  font-family: $ff-Roboto-Condensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer__section {
  @include vp-767 {
    width: 100%;
    padding: 0;
    padding-left: 25px;
    border-bottom: 1px solid rgba($color-alice-blue-bg, 0.7);

    &:first-of-type {
      border-top: 1px solid rgba($color-alice-blue-bg, 0.7);
    }

    [data-accordeon-element] {
      max-height: 0.1px;
      padding-bottom: 0;
      transition: 0.5s ease-in-out;
      transition-property: max-height, padding-bottom;
    }
  }
}

.footer__nav {
  padding-top: 7px;
  place-self: start start;
}

.footer__contacts {
  place-self: start start;
  padding: 0;
  padding-top: 7px;
  padding-left: 12px;

  @include vp-1023 {
    padding-left: 5px;
    overflow: hidden;
  }
}

.footer__contacts-wrapper {
  @include vp-767 {
    box-sizing: border-box;
    padding-bottom: 13px;
  }
}

.footer__address {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-style: normal;
  line-height: 135%;
  color: rgba($color-default-white, 0.7);

  @include vp-767 {
    margin-bottom: 11px;
  }
}

.footer__phone-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__phone-item {
  margin: 0;
}

.footer__phone {
  display: block;
  padding: 2.5px 0;
  line-height: 25px;
  color: rgba($color-default-white, 0.7);

  @include hover-focus {
    color: rgba($color-deep-sky-blue, 0.7);
  }

  &:active {
    opacity: 0.5;
  }

  @include active {
    opacity: 0.5;
  }
}
