.footer {
  width: 100%;
  background-color: $color-black-pearl;
  color: $color-default-white;
  padding: 50px 0;

  @include vp-767 {
    padding: 35px 0;
  }
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 1.32fr 1fr;
  column-gap: 18px;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
    padding-right: 45px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

.footer__online-contacts {
  display: flex;
  flex-direction: column;
  place-self: start start;

  @include vp-1023 {
    grid-column: span 2;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  @include vp-767 {
    grid-column: auto;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 14px;
  }
}

.footer__logo {
  display: block;
  width: 215px;
  margin-bottom: 30px;

  @include vp-1023 {
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-bottom: 10px;

    transform: translateX(-3px);
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-family: $ff-Roboto-Condensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;


  @include vp-767 {
    position: relative;
    min-height: 59px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 1px;
      display: block;
      width: 15px;
      height: 1px;
      background-color: $color-silver;

      transition: $trans-default;
      transition-property: transform;

      transform: translateY(-2px);
    }

    &::after {
      transform: translateY(-2px) rotate(90deg);
    }

    @include hover-focus {
      color: $color-deep-sky-blue;

      &::before,
      &::after {
        background-color: $color-deep-sky-blue;
      }
    }

    @include active {
      opacity: 0.5;
    }
  }
}

.is-active .footer__title {
  &::after {
    transform: translateY(-2px) rotate(0);
  }
}

.footer__section {
  @include vp-767 {
    width: 100%;
    padding: 0 25px;
    border-bottom: 1px solid rgba($color-alice-blue-bg, 0.7);

    &:first-of-type {
      border-top: 1px solid rgba($color-alice-blue-bg, 0.7);
    }
  }
}

.footer__nav {
  padding-top: 7px;
  place-self: start start;
}

.footer__contacts {
  place-self: start start;
  padding: 0;
  padding-top: 7px;
  padding-left: 12px;

  @include vp-1023 {
    padding-left: 5px;
    overflow: hidden;
  }

  @include vp-767 {
    padding: 0 25px;
    overflow: hidden;
  }
}

.footer__address {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-style: normal;
  line-height: 135%;
  color: rgba($color-default-white, 0.7);

  @include vp-767 {
    margin-bottom: 11px;
    transform: translateY(-2px);
  }
}

.footer__phone-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-767 {
    margin-bottom: 11px;
  }
}

.footer__phone-item {
  margin: 0;
}

.footer__phone {
  display: inline-block;
  padding: 2.5px 0;
  line-height: 25px;
  color: rgba($color-default-white, 0.7);

  @include hover-focus {
    color: rgba($color-deep-sky-blue, 0.7);
  }

  &:active {
    opacity: 0.5;
  }

  @include active {
    opacity: 0.5;
  }
}
