.nav {
  @include vp-767 {
    width: 100%;
    max-width: none;
    overflow: hidden;
  }
}

.nav__list {
  max-width: 470px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  column-count: 2;
  column-gap: 30px;

  @include vp-1023 {
    max-width: 220px;
    margin-bottom: 5px;
    column-count: 1;
    column-gap: 0;
  }

  @include vp-767 {
    width: 100%;
    max-width: none;
  }
}

.nav__item {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  break-inside: avoid;

  &:nth-child(3n) {
    break-after: avoid-column;
  }

  @include vp-1023 {
    margin-bottom: 7.5px;
  }
}

.nav__link {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 22px;
  color: rgba($color-default-white, 0.7);

  @include hover-focus {
    color: rgba($color-deep-sky-blue, 0.7);
  }

  &:active {
    opacity: 0.5;
  }

  @include active {
    opacity: 0.5;
  }
}
