.services {
  width: 100%;
  background-color: $color-black-pearl;
  color: $color-default-white;
}

.services__wrapper {
  padding: 65px 0 140px 0;

  @include vp-1023 {
    padding: 55px 25px 74px 25px;
  }

  @include vp-767 {
    padding: 45px 9px 86px 9px;
  }

  h2 {
    margin: 0;
    margin-bottom: 55px;
    padding: 0;
    font-family: $ff-Roboto-Condensed;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;

    &.mobile-only {
      display: none;
    }

    @include vp-1023 {
      margin-bottom: 38px;
    }

    @include vp-767 {
      display: none;
      margin-bottom: 31px;
      font-size: 28px;
      line-height: 39px;

      &.mobile-only {
        display: block;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 7%;
    row-gap: 40px;
    list-style-type: none;

    @include vp-1023 {
      grid-template-columns: 1fr;
      row-gap: 29px;
    }

    @include vp-767 {
      row-gap: 30px;
    }
  }

  li {
    margin: 0;
    padding: 0;

    &:nth-of-type(3n-2) {
      img {
        object-fit: none;
        object-position: 16.5% 69.5%;

        @include vp-1023 {
          object-position: 29.5% 97%;
        }

        @include vp-767 {
          object-position: 30.7% 52.5%;
        }
      }
    }

    &:nth-of-type(3n-1) {
      img {
        object-fit: none;
        object-position: 46.5% 71%;

        @include vp-1023 {
          object-position: 76% 55.5%;
        }

        @include vp-767 {
          object-position: 30% 94.5%;
        }
      }
    }

    &:nth-of-type(3n) {
      img {
        object-fit: none;
        object-position: 78% 66%;

        @include vp-1023 {
          object-position: 18% 63%;
        }

        @include vp-767 {
          object-position: 72.2% 69.5%;
        }
      }
    }
  }
}
